---
import Loading from '../components/Loading.jsx';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Iglesia from '../components/Iglesia.astro';
import Padres from '../components/Padres.astro';
import Itinerario from '../components/Itinerario.astro';
import Footer from '../components/Footer.astro';
// Importante: el componente Loading debe ser cargado en el cliente
// Puedes controlar el loader con un pequeño estado en JS
---

<Layout>
	<Loading client:only="react">
		<section class="flex flex-col flex-wrap items-center justify-center h-screen w-screen">
			<Hero />
		</section>
		
		<section class="flex flex-col flex-wrap items-center justify-center h-screen w-screen">
			<Iglesia />
		</section>

		<section class="flex flex-col flex-wrap items-center justify-center h-screen w-screen">
			<Padres />
		</section>

		<section class="flex flex-row md:flex-col flex-wrap bg-blue-900 text-white items-center justify-center md:h-screen md:w-screen">
			<Itinerario />
		</section>

		<section>
			<Footer />
		</section>
	</Loading>
</Layout>
