<div class="flex flex-col flex-wrap text-center items-center justify-center">
    <h2 class="text-xl md:text-6xl leading-tight mb-4 pt-6">
        Dios junto nuestras manos <br> 
        y nos señalo el camino.<br>
        nosotros unimos nuestras vidas<br>
        y lo recorremos con amor y fe.
    </h2>
    
    <div class="grid grid-cols-2 w-full justify-center items-center -mt-12 md:-mt-24">
        <div class="flex items-center justify-star">
            <img src="../florIzq.webp" alt="Entrada" class="w-20 h-20 mb-2 md:w-56 md:h-56" />
        </div>
        <div class="flex items-center justify-end">
            <img src="../florDer.webp" alt="Entrada" class="w-20 h-20 mb-2 md:w-56 md:h-56" />
        </div>
    </div>
</div>