<h2 class="text-xl md:text-4xl mb-4 leading-tight text-center pt-10">
    Dios junto nuestras manos <br> 
    y nos señalo el camino.<br>
    nosotros unimos nuestras vidas<br>
    y lo recorremos con amor y fe.
</h2>
<div class="grid grid-cols-2 items-center -mt-12 md:mt-0">
    <div class="flex flex-wrap items-center justify-star">
        <img src="../florIzq.webp" alt="Entrada" class="w-20 h-20 mb-2" />
    </div>
    <div class="flex flex-wrap items-center justify-end">
        <img src="../florDer.webp" alt="Entrada" class="w-20 h-20 mb-2" />
    </div>
</div>