<div class="flex flex-col">
    <div class="animate-fade-in flex flex-col justify-center items-center gap-10  md:p-8 ">
       
        <img src="../bF&A.webp" alt="F&A" class="rounded-[30px] h-60 md:h-72 xl:h-80 w-auto drop-shadow-2xl" />
        <div class="relative bg-[url('../fondo.webp')] bg-center bg-no-repeat bg-contain w-full h-auto items-center text-center text-5xl md:text-8xl">
            <h1 class=" font-bold">Fernanda y Alexis</h1>
        </div>
       
    </div>
    <div class="animate-scale-in relative items-center justify-center p-6 md:p-8 ">
        <h2 class="text-2xl md:text-4xl font-bold mb-4 leading-tight text-center">
            14 de junio del 2025 <br>
        </h2>
    </div>    
</div>

<style>
    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .animate-fade-in {
        animation: fade-in 1s ease-out;
    }

    @keyframes scale-in {
                from {
                    transform: scale(0);
                    opacity: 0;
                }
                to {
                    transform: scale(1);
                    opacity: 1;
                }
            }
            .animate-scale-in {
                animation: scale-in 0.8s ease-out;
            }
</style>


