---
import AnimacionScroll from '../components/AnimacionScroll.jsx';
---

<AnimacionScroll client:visible direction="right">
    <div class="relative items-center justify-center p-6 md:p-8 ">
        <a href="https://maps.app.goo.gl/1aAPp5iuWz6tmK2Y7" target="_blank" class="no-underline">
            <h2 class="text-4xl md:text-8xl font-bold mb-4 text-center">
                Ceremonia Religiosa: <br>
            </h2>
            
            <div class="relative bg-[url('../fondo.webp')] bg-center bg-no-repeat bg-contain w-full h-auto items-center ">
                <div class="flex justify-center mt-10 relative">
                    
                </div>
                <p class="text-center font-serif text-lg ">
                    <strong>Iglesia del Sagrado Corazón de Jesús</strong> <img src="https://img.icons8.com/?size=100&id=vsJyRh6Kp7fZ&format=png&color=000000" alt="Ubicación" class="w-6 h-6 md:w-12 md:h-12 absolute right-20 transform translate-x-4" /> <br>
                    Av. Cactus #1812 <br>
                    Quintas de la Hacienda
                </p>
                
            </div>
        </a>
    </div>
</AnimacionScroll>

<AnimacionScroll client:visible direction="left">
    <div class="relative items-center justify-center p-6 md:p-8 ">
    
        <a href="https://maps.app.goo.gl/K2upPxp16h1WewEt6" target="_blank" class="no-underline">
            <h2 class="text-4xl md:text-8xl font-bold mb-4 text-center">
                Recepcion: <br>
            </h2>
            <div class="relative bg-[url('../fondo.webp')] bg-center bg-no-repeat bg-contain w-full h-auto items-center "> 
                <p class="text-center font-serif text-lg ">
                    <strong>Salon "El Austero"</strong> <img src="https://img.icons8.com/?size=100&id=vsJyRh6Kp7fZ&format=png&color=000000" alt="Ubicación" class=" w-6 h-6 md:w-12 md:h-12 absolute -right-3 transform translate-x-4"/> <br>
                    Carretera a Rioverde Km 7 #1266 <br>
                    Entre Los Gómez y Real del Potosi
                </p>
               
            </div>
        </a>
    </div>
</AnimacionScroll>





