<div class="relative items-center justify-center p-6 md:p-8 ">
    <a href="https://www.google.com/maps/place/Iglesia+del+Sagrado+Corazón+de+Jesús/@22.1505132,-100.8970924,18.5z/data=!4m6!3m5!1s0x842aa3fbe66c5d77:0x90fb82d6ffb06088!8m2!3d22.1509844!4d-100.8965997!16s%2Fg%2F11c7vz6czb?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D" target="_blank" class="no-underline">
        <h2 class="text-4xl md:text-8xl font-bold mb-4 leading-tight  text-center">
            Ceremonia religiosa: <br>
        </h2>
        <p class="bg-[radial-gradient(circle,_#e0f2ff_0%,_transparent_80%)] text-center font-serif text-lg leading-snug">
        <strong>Iglesia del Sagrado Corazón de Jesús</strong> <br>
        Av. Cactus #1812 <br>
        Quintas de la Hacienda
        </p>
    </a>
</div>

<div class="relative items-center justify-center p-6 md:p-8 ">
    
    <a href="https://www.google.com/maps/place/Iglesia+del+Sagrado+Corazón+de+Jesús/@22.1505132,-100.8970924,18.5z/data=!4m6!3m5!1s0x842aa3fbe66c5d77:0x90fb82d6ffb06088!8m2!3d22.1509844!4d-100.8965997!16s%2Fg%2F11c7vz6czb?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D" target="_blank" class="no-underline">
        <h2 class="text-4xl md:text-8xl font-bold mb-4 leading-tight  text-center">
            Recepcion: <br>
        </h2>
        <p class="bg-[radial-gradient(circle,_#e0f2ff_0%,_transparent_80%)] text-center font-serif text-lg leading-snug">
        <strong>Salon "El Austero"</strong> <br>
        Carretera a Rioverde Km 7 #1266 <br>
        Entre Los Gómez y Real del Potosi
        </p>
    </a>
</div>