<h2 class="text-4xl md:text-8xl font-boldleading-tight text-center pt-10">
    Itinerario
</h2>
<div class="flex flex-col md:flex-row text-xl items-center justify-center pr-4 md:pr-0 pt-8 pb-8">
    
    <div class="flex flex-row md:flex-col items-center relative z-10 text-center pr-[11px] md:pr-0">
        <div class="md:mt-2">
            <p class="font-semibold">Iglesia</p>
            <p class="text-sm text-gray-600">6:00 p.m.</p>
        </div>
        <div class="w-12 h-0.5 md:w-0.5 md:h-12 bg-black "></div>
        <div class="md:items-center md:justify-center w-0.5 h-24 md:w-full md:h-0.5 bg-black "></div>
        <div class="items-center  w-0.5 h-0.5 bg-black"></div>
        <img src="../iglesia.webp" class="w-20 h-20" />
        
    </div>

    <div class="flex flex-row md:flex-col items-center relative z-10 text-center pt-0 md:pt-[100px] pl-[86px] md:pl-0">
        <img src="../entrada.webp" class="w-20 h-20" />
        <div class="items-center w-0.5 h-0.5 bg-black"></div>        
        <div class="md:items-center md:justify-center w-0.5 h-26 md:w-full md:h-0.5 bg-black "></div>
        <div class="w-12 h-0.5 md:w-0.5 md:h-12 bg-black "></div>
        <div class="md:mt-2">
            <p class="font-semibold">Entrada <br> y <br> Mariachis</p>
            <p class="text-sm text-gray-600">7:30 p.m.</p>
        </div>
    </div>

    <div class="flex flex-row md:flex-col items-center relative z-10 text-center ">
        <div class="md:mt-2">
            <p class="font-semibold">Cena</p>
            <p class="text-sm text-gray-600">8:00 p.m.</p>
        </div>
        <div class="w-12 h-0.5 md:w-0.5 md:h-12 bg-black "></div>
        <div class="md:items-center md:justify-center w-0.5 h-24 md:w-full md:h-0.5 bg-black "></div>
        <div class="w-0.5 h-0.5 bg-black "></div>     
        <img src="../cena.webp" class="w-20 h-20" />
    </div>

    <div class="flex flex-row md:flex-col items-center relative z-10 text-center pt-0 md:pt-[44px] pl-[50px] md:pl-0">        
        <img src="../vals.webp" class="w-20 h-20" />
        <div class="w-0.5 h-0.5 bg-black"></div>
        <div class="items-center justify-center w-0.5 h-24 md:w-full md:h-0.5 bg-black"></div>
        <div class="w-12 h-0.5 md:w-0.5 md:h-12 bg-black"></div>
        <div class="md:mt-2">
            <p class="font-semibold">Vals</p>
            <p class="text-sm text-gray-600">9:00 p.m.</p>
        </div>
    </div>

    <div class="flex flex-row md:flex-col items-center relative z-10 text-center pr-1 md:pr-0">
        <div class="md:mt-2">
            <p class="font-semibold">Baile</p>
            <p class="text-sm text-gray-600">9:30 p.m.</p>
        </div>
        <div class="w-12 h-0.5 md:w-0.5 md:h-12 bg-black"></div>
        <div class="items-center justify-center w-0.5 h-24 md:w-full md:h-0.5 bg-black"></div>
        <div class="w-0.5 h-0.5 bg-black"></div>
        <img src="../baile.webp" class="w-20 h-20" />
        
    </div>

</div>

