---
import AnimacionScroll from '../components/AnimacionScroll.jsx';
---

<AnimacionScroll client:visible direction="top">
<h2 class="text-4xl md:text-8xl font-bold mb-4 leading-tight text-center">
    Nuestros Padres: <br>
</h2>
</AnimacionScroll>

<AnimacionScroll client:visible direction="right">
    <div class="relative items-center justify-center p-6 md:p-8 ">
        
        <div class="relative bg-[url('../fondo.webp')] bg-center bg-no-repeat bg-contain w-full h-auto items-center ">
            <p class="text-center font-serif text-lg leading-snug">
                <strong>Papás de novia:<br>
                Martha Moreno Zavala <br>
                Pánfilo Martínez Zavala</strong>
            </p>
        </div>
        
    </div>
</AnimacionScroll>

<AnimacionScroll client:visible direction="left">
    <div class="relative items-center justify-center p-6 md:p-8 ">
        <div class="relative bg-[url('../fondo.webp')] bg-center bg-no-repeat bg-contain w-full h-auto items-center ">
            <p class="text-center font-serif text-lg leading-snug">
                <strong>Papás de novio:<br>
                María Guadalupe Mendoza García<br>
                Alberto Nieto Espinoza</strong>
            </p>
        </div>
    </div>
</AnimacionScroll>