<h2 class="text-4xl md:text-8xl font-bold mb-4 leading-tight  text-center">
    Nuestros Padres: <br>
</h2>

<div class="relative items-center justify-center p-6 md:p-8 ">
    <!-- Fondo azul difuminado >
    <div class="absolute inset-0 bg-blue-400 rounded-lg blur-[40px] opacity-40 "></div-->
    <p class="bg-[radial-gradient(circle,_#e0f2ff_0%,_transparent_80%)] text-center font-serif text-lg leading-snug">
        <strong>Papás de novia:<br>
        Martha Moreno Zavala <br>
        Pánfilo Martínez Zavala</strong>
    </p>
    
</div>

<div class="relative items-center justify-center p-6 md:p-8 ">
    <!-- Fondo azul difuminado >
    <div class="absolute inset-0 bg-blue-400 rounded-lg blur-[40px] opacity-40 "></div-->
    <p class="bg-[radial-gradient(circle,_#e0f2ff_0%,_transparent_80%)] text-center font-serif text-lg leading-snug">
        <strong>Papás de novio:<br>
        María de la Luz Rodríguez Hernández <br>
        José Luis Rodríguez Martínez</strong>
    </p>
</div>